:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --primary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-dark: #ffffff99;
  --accent-color: #2196f3;
  --modal-btn-color-main: #188ce8;
  --modal-btn-color-portfolio: #f5f4fa;
}
body {
  font-family: var(--primary-font);
  font-size: 14px;
  color: var(--secondary-text-color-theme-light);
}
/*==================COMPONENTS==================*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.logo-white {
  color: var(--primary-text-color-theme-dark);
}

/*=================/COMPONENTS==================*/

/*==================HEADER==================*/
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  border: 1px solid red;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: #000000;
}
.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.contact-phone-number,
.contact-mail {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--accent-color);
}

.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}
/*=================/HEADER==================*/

/*==================HERO==================*/
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-dark);
}
.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--modal-btn-color-main);
  color: var(--primary-text-color-theme-dark);
}
.modal-btn-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
  cursor: pointer;
  background: var(--modal-btn-color-portfolio);
  border-radius: 4px;
}
.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-text-color-theme-dark);
}
.button-current {
  color: var(--primary-text-color-theme-dark);
  background-color: var(--accent-color);
}
/*=================/HERO==================*/

/*==================OUR ADVANTAGES==================*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.title-advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color-theme-light);
}
.description-advantage {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*=================/OUR ADVANTAGES==================*/

/*==================OUR WORK==================*/

/*=================/OUR WORK==================*/

/*==================EMPLOYEES==================*/
.name-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-light);
}
.job-employee {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
/*=================/EMPLOYEES==================*/

/*==================FOOTER==================*/
.location,
.contact-mail-footer,
.contact-phone-number-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color-theme-dark);
}

.contact-mail-footer,
.contact-phone-number-footer {
  color: rgba(255, 255, 255, 0.6);
}
address {
  font-style: normal;
}
.background-color {
  background: #2f303a;
}
/*=================/FOOTER==================*/

/*==================PROJECTS==================*/
.img-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
}
.description-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*=================/PROJECTS==================*/
